.botao-sim {
    border-radius: 50px !important;
    border: 0 !important;
    background-color: #004100 !important;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
    transition: all .5s ease !important;
    color: white !important;
}

.botao-sim:hover {
    letter-spacing: 3px !important;
    box-shadow: #008400 0px 7px 29px 0px !important;
}

.botao-nao {
    border-radius: 50px !important;
    border: 0 !important;
    background-color: #FF3D00 !important;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
    transition: all .5s ease !important;
    color: white !important;
}

.botao-nao:hover {
    letter-spacing: 3px !important;
    box-shadow: rgb(201, 121, 1) 0px 7px 29px 0px !important;
}

.card-deletar {
    margin: -50vh auto 0 !important;
    margin-top: 20vh !important;
    position: relative;
    width: 25vw !important;
    min-height: 200px !important;
    padding: 0;
    margin: 0;
    display: flex !important;
    flex-flow: row wrap !important;
    width: clamp(20rem, calc(20rem + 2vw), 22rem) !important;
    overflow: hidden !important;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1) !important;
    border-radius: 1em !important;
    background: #ECE9E6 !important;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6) !important;
}

.texto {
    color: black !important;
    font-weight: bold !important;
}

.caixa-deletar {
    flex-direction: column !important;
    align-items: center !important;
    width: 100vw !important;
}