.cad-right {
    margin-right: 20px;
    width: 60% !important;
    margin-top: 20px;
}

.cad-left {
    width: 60% !important;
    margin-top: 20px;
}

.bg-post {
    background-color: #083b23;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.mod-post {
    width: 900px;
    padding-top: 30px;
    padding-bottom: 50px;
    background: lightgrey;
    border: 3px inset white;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: all .5s ease-in-out;
    border-radius: 1.5rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bolder;
    color: #8a8989;
}

.mod-post:hover {
    transform: translateY(-5px);
    transition: all .5s ease-in-out;
}

.btn-finalizar {
    margin-top: 30px !important;
    margin-left: -100px !important;
    letter-spacing: 3px !important;
    background-color: #004100 !important;
    color: hsl(0, 0%, 100%) !important;
    border-radius: 50px !important;
    }

.btn-finalizar:disabled {
    border-radius: 50px !important;
    border: 0 !important;
    background-color: #FF3D00 !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
    transition: all .5s ease !important;
    color: white !important;
}

.btn-finalizar:hover {
    box-shadow: #008400 0px 7px 29px 0px !important;
}