@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
}

.caixa {
    display: flex;
    gap: 4rem;
    background-color: #D7D8D7;
    justify-content: center;
    padding-bottom: 12px;
}

.invisivel {
    text-indent: -9999px;
    white-space: nowrap;  
    color: transparent;
}

hr {
    justify-content: center;
    width: 50%;
    color: #D7D8D7;
}

a {
    font-weight: bold;
    color: #168b55;
    text-decoration: none;
}

a:hover {
    color: #076005;
}

hr {
    color: #D7D8D7;
}