@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
}

.caixa {
    display: flex;
    gap: 4rem;
    background-color: #D7D8D7;
    justify-content: center;
    padding-bottom: 12px;
}

.invisivel {
    text-indent: -9999px;
    white-space: nowrap;  
    color: transparent;
}

hr {
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(215,216,215,1) 1%);
    border: none;
    height: 1px;
    margin: 1px 0;
    width: 100%;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

a {
    font-weight: bold;
    color: #168b55;
    text-decoration: none;
}

a:hover {
    color: #076005;
}

hr {
    color: black;
}