.box {
    background-color: aliceblue;
    cursor: 'pointer';
    display: flex;
    justify-content: start;
}

.cursor {
    cursor: pointer;
    color: black;
}

.text-decorator-none {
    text-decoration: none;
    color: black;
}