.box {
  background-color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: start;
}

.cursor {
  cursor: pointer;
  color: black;
}

.text-decorator-none {
  text-decoration: none !important;
  color: black;
}

.img-deslogado {
  width: 8vw !important;
  height: 10vh !important;
  margin-top: 0.2rem;
}

.img-logado {
  width: 8vw !important;
  height: 10vh !important;
  margin-top: 0.2rem;
}

.navbart{
    width: 50vw;
    margin-left: 1rem;
}

.navbar {
  box-shadow: 0px 1px 11px -8px rgba(0, 0, 0, 0.98) !important;
  background: rgba(215, 216, 215, 0.275) !important;
  backdrop-filter: blur(56px);
  position: fixed !important;
  margin-bottom: 1rem;
  z-index: 1030;
}

.menu{
  margin-left: 80vw;
}

.btn-entrar {
  width: 10vw;
  border-color: rgb(0, 65, 0) !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(0, 65, 0) !important;
  font-weight: 500 !important;
  box-shadow: 7px 9px 20px -7px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 7px 9px 20px -7px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 7px 9px 20px -7px rgba(0, 0, 0, 0.98);
  border-radius: 50px !important;
  text-decoration: none;
}

.btn-cadastrar {
  width: 10vw;
  border-color: rgb(0, 65, 0) !important;
  color: #083b23 !important;
  background-color: rgba(0, 65, 0, 0) !important;
  font-weight: 500 !important;
  box-shadow: 7px 9px 20px -7px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 7px 9px 20px -7px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 7px 9px 20px -7px rgba(0, 0, 0, 0.98);
  border-radius: 50px !important;
  border: 2px solid #083b23 !important;
  text-decoration: none !important;
 
}

.login {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
