.bg-categoria {
    background-color: #083b23;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.mod-categoria {
    width: 900px;
    background-color: white;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.label {
    background-color: #d7d8d7 !important;
}

.btn-concluir {
    background-color: #083b23 !important;
    color: #d7d8d7 !important;
    font-weight: bold !important;
}