.bg-categoria {
    background-color: #083b23;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.mod-categoria {
    width: 900px;
    padding-top: 30px;
    padding-bottom: 50px;
    border: 3px inset white;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: all .5s ease-in-out;
    border-radius: 1.5rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bolder;
    color: #8a8989;
}

.mod-categoria:hover {
    transform: translateY(-5px);
    transition: all .5s ease-in-out;
}

.btn-concluir {
    border-radius: 50px !important;
    border: 0 !important;
    background-color: #004100  !important;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
    transition: all .5s ease !important;
    color: white !important;
    margin-right: 20px !important;
}

.btn-concluir:hover {
    box-shadow: #008400 0px 7px 29px 0px !important;
}