.container {
    direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 216, 141);
}

.titulo {
    font-weight: bold !important; 
}

.forms {
    margin-top: 10vh !important;
    margin-bottom: 10vh !important;
}

.text-decorator-none {
    text-decoration: none;
}

.botao {
    border-color: black !important;
    color: black !important;
    background-color: white !important;
    font-weight: bold !important;
}